* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(/image.png);
    background-size: cover;



}

h2 {
    font-size: 5rem;
    padding: 3rem;
    text-align: center;
    display: flex;
    flex-grow: 1;
 
}

.coming-soon {
    /* with min height "100vh" we will use 100% of the screen size */
    min-height: 100vh;
    /* now we are display flexing in our main section so we could use flexbox */
    display: flex;
    align-items: center;
    /* In display flex our contents flow vertically but with flex direction we could change it to horizontally */
    flex-direction: column;
    justify-content: space-evenly;
}
.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.day, .hour, .mins, .second {
    font-size: 3rem;
}

